html, body{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    //position: relative;
    //background-color: lightsalmon;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.parallax1{
    height: 150%;
    width: 100vw;
    background-color: lightseagreen;
    position: absolute;
}

.parallax2{
    height: 150%;
    width: 100vw;
    background-color: lightslategrey;
    position: absolute;
    opacity: 0.5;
}